<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="PachaData" connectionString="data source=RUDI;initial catalog=PachaDataTraining;Integrated Security=SSPI;MultipleActiveResultSets=True;App=PachaDataManager"
      providerName="System.Data.SqlClient" />
    <add name="ContactManager.Properties.Settings.PachadataTrainingConnectionString"
      connectionString="Data Source=RUDI;Initial Catalog=PachadataTraining;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>